<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.voicecloud.itm.dao.GroupDao">

    <resultMap id="GroupResult" type="Group">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="company" column="company"/>
        <result property="remark" column="remark"/>
        <result property="itmID" column="itm_id"/>
        <result property="registTime" column="regist_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="addGroup" parameterType="Group" keyProperty="id" useGeneratedKeys="true">
        insert into t_group values(null, #{name}, #{company}, #{remark}, #{itmID}, #{registTime}, #{updateTime})
    </insert>

    <select id="getGroup" parameterType="Map" resultMap="GroupResult">
        select * from t_group
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>

    <update id="updateGroup" parameterType="Group">
        update t_group set name=#{name}, company=#{company}, remark=#{remark} where id=#{id}
    </update>

</mapper>