<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.voicecloud.itm.dao.UserDao">

    <resultMap id="UserResult" type="User">
        <id property="id" column="id" />
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="token" column="token"/>
        <result property="nickName" column="nick_name"/>
        <result property="remark" column="remark"/>
        <result property="privilege" column="privilege"/>
        <result property="lastLogin" column="last_login"/>
        <result property="registTime" column="regist_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="UserGroupLinkResult" type="UserGroupLink">
        <id property="id" column="id" />
        <result property="privilege" column="privilege"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <resultMap id="GroupResult" type="Group">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="company" column="company"/>
        <result property="remark" column="remark"/>
        <result property="itmID" column="itm_id"/>
        <result property="registTime" column="regist_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="userRegist" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        insert into t_user values(null, #{userName}, #{password}, #{salt}, #{plainPassword}, #{token}, #{nickName}, null, #{lastLogin}, #{registTime}, #{updateTime})
    </insert>

    <select id="getUserById" parameterType="Integer" resultMap="UserResult">
        select * from t_user where id = #{userId}
    </select>

    <select id="getUserByName" parameterType="String" resultMap="UserResult">
        select * from t_user where user_name = #{name}
    </select>

    <select id="getUserGroupLink" parameterType="Map" resultMap="UserGroupLinkResult">
        select * from t_user_group_link
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="groupId != null">
                AND group_id = #{groupId}
            </if>
        </where>
    </select>

    <insert id="addUserGroupLink" parameterType="UserGroupLink" keyProperty="id" useGeneratedKeys="true">
        insert into t_user_group_link values(null, #{user.id}, #{group.id}, 0, #{remark}, null)
    </insert>
    
    <update id="updateUserGroupLink" parameterType="UserGroupLink">
        update t_user_group_link
        <set>
            <if test="privilege != null">
                privilege = #{privilege}
            </if>
        </set>
        where user_id = #{user.id} AND group_id = #{group.id}
    </update>

    <delete id="deleteUserGroupLink" parameterType="UserGroupLink">
        delete from t_user_group_link where user_id=#{user.id} and group_id=#{group.id}
    </delete>

    <update id="UpdateByUser" parameterType="User">
        update t_user
        <set>
            <if test="plainPassword != null">
                plain_password = #{plainPassword},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getGroupListByUser" parameterType="User" resultMap="GroupResult">
        select * from t_group
            join t_user_group_link
            on t_group.id = t_user_group_link.group_id
        where t_user_group_link.user_id = #{id}
    </select>

</mapper>